.gallery{
    position: relative;
    margin-top: 30px;
}

.gallery .row{
    justify-content: center;
    align-items: center;
}

.gallery .photo{
    background-color: #fff;
    border-radius: 30px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}